/*翻页*/
.container .page {
	margin-left: 38%;
}
.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
	    display: block;
	    float: left;
	    padding: 5px 10px;
	    border-radius: 5px;
	    margin-right: 5px;
		margin-bottom: 5px;
		min-width:1em;
		text-align:center;
}

.pagination .current {
    background: #C260F6;
    color: #fff;
	border: solid 1px #D8A9F1;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
